/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2015, 10:16:36 PM
    Author     : rayedchan
*/

html, body
{
    height: 100%;
}

div.dotbox
{
    height: 80%;
    /*border: 1px solid black;*/
}

/*Contained within div.dotbox element*/
#canvas
{
    border: 1px solid black;
    height: 100%; 
    width: 100%;
}

div.buttonbox
{
     height: 5%;
    /*border:1px solid black;*/
}

/* Place button on the bottom center of the page and adjust size of submit button */ 
.button
{
    position: relative;
    top: 50%;
    left: 50%;
    margin-left:-80px;
    height: 35px;
    width: 160px;
    font-size: 20px;
}
